@page
@model Sezam.Web.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewUser.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewUser.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewUser.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewUser.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewUser.StreetAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewUser.StreetAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewUser.PostCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewUser.PostCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewUser.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewUser.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewUser.AreaCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewUser.AreaCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewUser.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewUser.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewUser.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewUser.Company)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewUser.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewUser.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewUser.MemberSince)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewUser.MemberSince)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewUser.LastCall)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewUser.LastCall)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewUser.PaidUntil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewUser.PaidUntil)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewUser.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewUser.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ViewUser.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
