@page "/Conference/{ConfName}/{TopicName?}"
@model Sezam.Web.Pages.Conference.ConfModel

@{
    ViewData["Title"] = Model.Topic != null ? Model.ConfName + " : " + Model.Topic?.Name : Model.ConfName;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@Model.ConfName</h1>

<p>@string.Format("{0:dd MMM yyyy} - {1:dd MMM yyyy}", Model.Conference.FromDate, Model.Conference.ToDate)</p>

<div id="Topics">
    <h2>Topics</h2>
    <ol>
        @foreach (var topic in Model.ConfTopics)
        {
            <li value="@topic.TopicNo"><a asp-page="./Conf" asp-route-ConfName="@Model.Conference.VolumeName" asp-route-TopicName="@topic.Name">@topic.Name</a> (@topic.NextSequence)</li>
        }
    </ol>
</div>

<div id="Messages">
    <h2>Messages - @Model.Topic?.Name</h2>
    @if (Model.Messages != null)
    {
        @foreach (var msg in Model.Messages)
        {
            <message>
                <header>
                    <msgid>@msg.MsgId</msgid>
                    <author>@msg.Author.Username</author>,
                    <time title="@string.Format("{0:dd/MM/yyyy HH:mm}", msg.Time)">@string.Format("{0:dd MMM yy}", msg.Time)</time>
                </header>
                <content>@msg.MessageText.Text</content>
                @if(msg.Filename.Length > 0)
                {
                    <file>@msg.Filename</file>
                }
            </message>
        }
    }
</div>

